{% extends 'base.html.twig' %}

{% block title %}Portfolio enfants - Photomaeght{% endblock %}

{% block body %}
    <main>
        <div class="retour">
            <a href="{{ path('app_accueil') }}"><p>Retour catégories portfolio</p></a>
        </div>
        <div class="galerie">
        
            {% for enfantPhotos in photosEnfant %}
                <div class="containerImg">
                    <img src="/uploads/{{ enfantPhotos.photo}}" alt="photos_familles" loading="lazy" >
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
